<%= form_for(disaster) do |f| %>
  <% if disaster.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(disaster.errors.count, "error") %> prohibited this disaster from being saved:</h2>

      <ul>
      <% disaster.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :photo_url %>
    <%= f.text_field :photo_url %>
  </div>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>

  <div class="field">
    <%= f.label :preparation %>
    <%= f.text_area :preparation %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
