<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @disaster.title %>
</p>

<p>
  <strong>Photo url:</strong>
  <%= @disaster.photo_url %>
</p>

<p>
  <strong>Description:</strong>
  <%= @disaster.description %>
</p>

<p>
  <strong>Preparation:</strong>
  <%= @disaster.preparation %>
</p>

<%= link_to 'Edit', edit_disaster_path(@disaster) %> |
<%= link_to 'Back', disasters_path %>
